.personalInfo {
  width: 100%;
  min-height: 100vh;
  padding-block: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d3273;
}
.personal-info-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;

  .info-title {
    font-size: 1.5rem;
    font-family: var(--platypi);
    margin-bottom: 10px;
    color: var(--white);
  }
  h3 {
    font-size: 1.2rem;
    font-family: var(--eb-garamond);
    color: var(--white);
  }
  p {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    margin-block: 10px;
    line-height: 150%;
    color: #ffffffc0;
    font-weight: 500;
  }
}

.about-me {
  width: 40%;
}
.skills {
  width: 40%;
}
.education {
  width: 40%;
}
.experience {
  width: 40%;
}
