:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --rubik: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
  --afacad-flux: "Afacad Flux", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --eb-garamond: "EB Garamond", serif;
  --platypi: "Platypi", serif;
  --white: #fff;
  --black: #000000;
  --main-blue: #1f3170;
  scroll-behavior: smooth !important;
}
#content {
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}
.content-hidden {
  display: none;
}
.show-navbar {
  left: 0 !important;
  transition: all 0.4s !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  text-rendering: optimizeSpeed !important;
}
.wrapper {
  width: min(80%, 1400px);
}
.icon {
  display: inline-block;
  margin-inline: 4px;
  user-select: none;
}
.content-visible {
  display: block;
}
.loading-card {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 101vw;
  height: 101vh;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: var(--main-blue);
}
.loading-wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.loading-card.end-loading {
  display: none;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .projects .card {
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  #hero .main-wave {
    bottom: -25px;
    height: 100px;
  }
  #hero .bg-layer1 {
    display: none;
  }
  #hero .main-container {
    flex-direction: column-reverse;
    width: 90%;
  }
  #hero .main-container .main-image {
    width: 60%;

    img {
      width: 90%;
    }
  }
  #hero .main-container .main-title .main-heading {
    font-size: 5rem;
    text-align: center;
  }
  #hero .main-container .main-image .dev-lines {
    width: 50%;
    left: 0;
    bottom: 0;
  }
  .personalInfo {
    padding-block: 0px;
  }
  .personalInfo .wrapper {
    row-gap: 5rem;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  #logo {
    transform: translate(-25%, -20px);
  }
  #nav {
    width: 90vw;
    height: 101vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: -90vw;
    z-index: 999;
  }
  #nav .nav-close-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 1px solid rgba(255, 255, 255, 0.479);
  }
  #nav .wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3rem;
  }
  #nav .center {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav .center .referrer-btn {
    font-size: 2rem;
    text-shadow: 0px 0px 2px #161616;
  }
  #hero .bg-layer1 {
    display: none;
  }
  #hero .line-vector {
    top: 100%;
  }
  #hero .open-nav-btn {
    display: flex;
  }
  #hero .main-wave {
    height: 30px;
    bottom: -5px;
  }
  #hero .line-vector {
    width: 200px;
    transform: none;
  }
  #hero .main-container .main-title .main-heading {
    font-size: 4rem;
  }
  #hero .main-title .job {
    text-align: center;
  }
  #hero .main-container {
    padding-block: 10vh;
  }
  .personalInfo {
    padding-block: 3rem;
  }
  .personal-info-container {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .personal-info-container > div {
    width: 100%;
  }
  .projects .card {
    width: 90%;
    flex-direction: column;
    height: 350px;
  }
  .projects .card .card-img {
    width: 100%;
    height: 40%;
  }
  .projects .card .content {
    width: 100%;
    height: 60%;
  }
  .footer .footer-container {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .footer .footer-left,
  .footer .footer-right {
    width: 100%;
  }
}
@media only screen and (max-width: 240px) {
  .wrapper {
    width: min(95%, 1400px);
  }
}
