html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
@media only screen and (width > 2000px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (max-width: 2000px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .main-wave {
    height: auto;
    aspect-ratio: 16 / 1;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .projects .card {
    height: 300px;
  }
  .wrapper {
    width: min(90%, 1440px);
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  #hero .main-wave {
    bottom: -20px;
  }
  #hero .bg-layer1 {
    display: none;
  }
  #hero .main-container {
    flex-direction: column-reverse;
    padding-block: 15vh;
    width: 90%;
  }
  #hero .main-container .main-image {
    width: 60%;

    img {
      width: 90%;
    }
  }
  #hero .main-container .main-title .main-heading {
    font-size: 5rem;
    text-align: center;
  }
  #hero .main-container .main-image .dev-lines {
    width: 50%;
    left: 0;
    bottom: 0;
  }
  .personalInfo {
    padding-block: 0px;
  }
  .personalInfo .wrapper {
    row-gap: 5rem;
  }
  .whyme-content .row {
    width: 45%;
    min-width: 200px;
  }
}
@media only screen and (max-width: 425px) {
  .whyme-content .row {
    width: 90%;
    min-width: 150px;
  }
  #whyme .whyme-title p {
    max-width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  #logo {
    transform: translate(-25%, -20px);
  }
  #nav {
    width: 90vw;
    height: 101vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: -90vw;
    z-index: 999;
  }
  #nav .nav-close-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 1px solid rgba(255, 255, 255, 0.479);
  }
  #nav .wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3rem;
  }
  #nav .center {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav .center .referrer-btn {
    font-size: 2rem;
    text-shadow: 0px 0px 2px #161616;
  }
  #hero .bg-layer1 {
    display: none;
  }
  #hero .line-vector {
    top: 100%;
  }
  #hero .open-nav-btn {
    display: flex;
  }
  #hero .main-wave {
    height: 30px;
    bottom: -5px;
  }
  #hero .line-vector {
    width: 200px;
    transform: none;
  }
  #hero .main-container .main-title .main-heading {
    font-size: 4rem;
  }
  #hero .main-title .job {
    text-align: center;
  }
  #hero .main-container {
    padding-block: 10vh;
  }
  .personalInfo {
    padding-block: 3rem;
  }
  .personal-info-container {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .personal-info-container > div {
    width: 100%;
  }
  .projects .card {
    width: 90%;
    flex-direction: column;
    height: 350px;
  }
  .projects .card .card-img {
    width: 100%;
    height: 40%;
  }
  .projects .card .content {
    width: 100%;
    height: 60%;
  }
  .footer .footer-container {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .footer .footer-left,
  .footer .footer-right {
    width: 100%;
  }
}
@media only screen and (max-width: 240px) {
  .wrapper {
    width: min(95%, 1400px);
  }
}
