* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}
a {
  text-decoration: none;
  cursor: pointer !important;
}
html {
  scroll-behavior: smooth;
}
#root {
  width: 100%;
  overflow: hidden;
}
img {
  image-rendering: optimizeSpeed !important;
}
