#hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: sticky;
  overflow: hidden;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231f3170' fill-opacity='0.47' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.layer {
  overflow: hidden;
}
.main-wave {
  width: 100%;
  max-width: 100vw;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: clamp(30px, 10vh, 100px);
}
.bg-layer1 {
  width: fit-content;
  height: 100%;
  /* background-image: url("/assets/bg-layer1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right; */
  /* transform: rotateX(180deg) !important; */
  position: fixed;
  right: 0;
}
.main-container {
  width: min(80%, 1536px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20vh;
  transition: all 0s;
}
.main-title {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 3.5rem;
    max-width: 100%;
    text-align: left;
  }
  .job {
    font-family: "Platypi", serif;
    font-size: 1.7rem;
  }
}
.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 5%;
    height: auto;
    aspect-ratio: 1 / 1;
    user-select: none;
    background-image: url("/assets/plus-1512-svgrepo-com.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    pointer-events: none;
  }

  img {
    width: 300px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    filter: saturate(0%);
    box-shadow: 0px 10px 10px -3px #000000a2;
  }
}
